
body{
	background-color:dbd8e3;
}

H1{
	color:352f44;
	text-align:center;
	font-size:40px;
	font-style:italic;
	font-family:Georgia, serif;
}
#container{
	border: gray double 10px;
	width:1230px;
	height:950px;
}
hr{
	border: 2px solid gray;
}

}

#pp{
	border: gray solid 3px;
	width:800px;
	height:770px;
	margin:25px;
}

p{
	margin:10px;
	font-family:Georgia, serif;
	color:black;
	font-style:italic;
}
h2{
	text-align:center;
	color:5c5470;
	font-style:italic;
	font-family:Georgia, serif;
}

h3{
	margin:15px;
	font-family:Georgia, serif;
}
